/*반응형 화면 크기*/
$breakpoint-mobile: 320px; // 모바일
$breakpoint-tabletToMobile: 535px; // 모바일에서 태블릿
$breakpoint-tablet: 720px; // 태블릿
$breakpoint-laptopToTablet: 960px; // 태블릿에서 노트북
$breakpoint-laptop: 1024px; // 노트북
$breakpoint-laptopLarge: 1279px; // 노트북 큰 사이즈
$breakpoint-desktopToLaptop: 1500px; // 노트북에서 데스크탑
$breakpoint-desktop: 1800px; // 데스크탑
