* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
  position: relative;
}
.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100vh;
  border: 1px solid blue;
  background-color: #92ccea;
}
.abcd {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%) scale(3);
}

.WorldMap {
  /* width: 50%; */
  background-color: rgba(129, 198, 234, 0.8);
  /* width: 70%; */
  /* position: absolute; */
}

.WorldMap path {
  /* fill:rgba(38, 39, 39, 0.86); */
  fill: rgba(173, 236, 187, 0.86);
  /* fill:rgba(198, 222, 235, 0.8); */
  stroke: #fff;
  /* stroke: rgba(129, 198, 234, 0.8); */
  stroke-width: 0.5px;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
}

/* .navigate-push {
    background-color: rgba(129, 198, 234, 0.8);
    background-color: #fff;
    background-color: rgba(129, 198, 234, 0.8)
  } */

/* .rsm-svg.navigate-push{
    width: 100%;
  } */

.weather-wrap {
  border: 1px solid black;
  position: absolute;
  top: 0;
  right: 0;
}
.weather-data {
  display: flex;
}

.weather-temp {
  display: flex;
  /* width: 250px; */
  /* height: 50px; */
  border: 1px solid black;
}

.weather-cloudwind {
  display: flex;
}

.wind-icon {
  animation-name: winding;
  animation-duration: 5s;
  /* animation-direction: alternate; */
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes winding {
  0%,
  20% {
    transform: translateX(-15%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80%,
  100% {
    transform: translateX(30%);
    opacity: 0;
  }
}

/* .rsm-geography {
    animation-name: path-line;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    stroke-width: 1px;
    stroke: #fff;
    fill: #000;
  }
  @keyframes path-line {
    0%{
stroke-dasharray: 0%;
    }
    100%{
stroke-dasharray: 100%;
    }
  } */

.col {
  padding: 1%;
}

.newsItemWrap {
  border: 1px solid none;
}

.newsItem {
  padding: 5%;
  min-width: 300px;
  border: 1px solid red;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.countryName {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content > .WorldMap {
  width: 800px;
  height: 500px;
}

.modal-bg {
  background-color: inherit;
}
